.App {
  text-align: center;
}

body {
  background: url('https://images.pexels.com/photos/572688/pexels-photo-572688.jpeg?cs=srgb&dl=conifer-daylight-environment-572688.jpg&fm=jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

.btn {
  background-color: #11ada0;
  padding: 8px 28px 4px 30px;
  font-size: 16px;
  line-height: 1.9; 
  color: #efedea;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 4px;
  margin-bottom: 0;
  cursor: pointer;
  border-bottom: 3px solid #0f968b;
  margin-left: 10px;
  margin-top: 23px;
}

form {
  background: rgba(225, 225, 225, .8);
  height: 100px;
  width: 50%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 200px;*/
}

.item {
  padding: 2px 6px;
  cursor: default;
}

.item-highlighted {
  color: white;
  background-color: #11ada0;
}

.menu {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}

.ReactTable .rt-th, .ReactTable .rt-td:hover {
  overflow: visible;
}
.table {
  background: rgba(225, 225, 225, .8);
  width: 90%;
  margin: auto;
  color: black;
  margin-top: 50px;

}

.title {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px grey;
  font-weight: 400;
  margin-top: 180px;
  font-size: 60px;
}















