.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*html {
  background: url('https://images.pexels.com/photos/572688/pexels-photo-572688.jpeg?cs=srgb&dl=conifer-daylight-environment-572688.jpg&fm=jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.btn {
  background-color: #11ada0;
  padding: 8px 28px 4px 30px;
  font-size: 16px;
  line-height: 1.9; 
  color: #efedea;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 4px;
  margin-bottom: 0;
  cursor: pointer;
  border-bottom: 3px solid #0f968b;
  margin-left: 10px;
  margin-top: 23px;
}

.geneInput {
  height: 40px;
  width: 60%;
  border: 1px solid white;
  background-color: transparent;
}

.geneInput::placeholder {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;

}

form {
  background: rgba(225, 225, 225, .8);
  height: 100px;
  width: 50%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

input, textarea {
  height: 40px;
  width: 60%;
  border: 1px solid white;
  background-color: transparent;
}

.item {
  padding: 2px 6px;
  cursor: default;
}

.item-highlighted {
  color: white;
  background-color: #11ada0;
}

.menu {
  position: absolute;
  box-sizing: border-box;
  /*width: 100%;*/
  border: 1px solid #cccccc;
  /*background-color: grey;*/
}

















