appnope==0.1.0
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
contextlib2==0.5.5
decorator==4.2.1
diff-match-patch==20181111
dj-database-url==0.5.0
Django==2.0.5
django-cors-headers==2.4.0
django-csvimport==2.11
django-import-export==1.1.0
docopt==0.6.2
et-xmlfile==1.0.1
Flask==1.0.2
future==0.17.1
gunicorn==19.8.1
html5lib==1.0.1
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jdcal==1.4
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
json-table-schema==0.2.1
lxml==4.2.5
MarkupSafe==1.0
messytables==0.15.2
more-itertools==4.3.0
numpy==1.15.4
odfpy==1.3.6
openpyxl==2.5.11
paho-mqtt==1.3.1
pandas==0.16.1
parso==0.1.1
pbr==5.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.1.0
pluggy==0.8.0
praw==5.4.0
prawcore==0.14.0
prompt-toolkit==1.0.15
psycopg2==2.7.4
psycopg2-binary==2.7.6.1
ptyprocess==0.5.2
py==1.7.0
Pygments==2.2.0
PyJWT==1.7.0
pykwalify==1.7.0
pymongo==3.7.2
pytest==4.0.1
python-box==3.2.3
python-dateutil==2.7.5
python-magic==0.4.15
pytz==2018.4
PyYAML==3.13
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
stevedore==1.30.0
tablib==0.12.1
tavern==0.20.0
traitlets==4.3.2
unicodecsv==0.14.1
update-checker==0.16
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whitenoise==2.0.6
xlrd==1.1.0
xlwt==1.3.0

